.btn-back {
    position: fixed;
    background-color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 0 0 20px #ffffff;
    border: solid 1px white;
    padding: 7px;
    margin: 10px 30px;
    color: white;
    z-index: 15;
    transition: 0.5s;
}

.btn-back:hover {
    background-color: aliceblue;
    color: black;
}